.not-found-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
  font-size: 10rem;
}

.icon-tabler-error-404 {
  width: 10rem;
  height: 10rem;
  color: lightcoral;
}
