.fake-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
  background: lightsteelblue;
  color: steelblue;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
}
