@import "../../scss/_includes";

.rm-char-list, .rm-loc-list {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

.rm-char-list > li, .rm-loc-list > li {
  flex: 0 0 100%;
  font-family: "Rubik", sans-serif;
  font-size: .875rem;
  font-weight: 500;
}

.a-char {
  position: relative;
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
  img { width: 100%; }
  .name {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 .5rem;
    background: darkslategrey;
    line-height: 3;
    color: wheat;
  }
}

.a-loc {
  box-sizing: border-box;
  line-height: 3;
  padding: 0 .5rem;
  border-radius: .375rem;
  background: lightgray;
}

@include break-up(mobile) {
  .rm-char-list > li { flex: 0 0 calc(50% - .5rem / 2); }
}

@include break-up(tablet) {
  .rm-loc-list > li { flex: 0 0 calc(50% - .5rem / 2); }
}

@include break-up(desktop) {
  .rm-char-list > li { flex: 0 0 calc(25% - 3 * .5rem / 4); }
}
