@import "../scss/_includes";

header, footer {
  display: flex;
  gap: 2rem;
  img {
    opacity: .25;
    border-radius: 1rem;
  }
}

header, main, footer { margin: 1rem 0; }

header {
  justify-content: space-between;
  align-items: center;
  img { width: 150px; }
}

nav ul {
  display: inline-flex;
  gap: 1rem;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  a {
    padding: .5rem;
    color: black;
    text-decoration: none;
    &.active { border-bottom: 2px solid black; }
    &:not(.active):hover { color: dimgray; }
  }
}

footer {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}

.lang-switcher {
  display: inline-flex;
  gap: .5rem;
  font-size: .875rem;
  font-family: "Rubik", sans-serif;
  a {
    color: black;
    text-decoration: none;
    padding: .325rem;
    &:not(.active):hover { color: dimgray; }
    &.active {
      border-bottom: 2px solid black;
      font-weight: 500;
    }
  }
}

@include break-up(mobile) {
  header img { width: auto; }
}
